<div fxLayout="column" fxLayoutGap="8px">
  <button
    mat-raised-button
    style="background: slateblue"
    (click)="printQueueNumber()"
    [disabled]="isPrintDisabled"
  >
    {{ isPrintDisabled ? "All Printed" : "Print Queue Number" }}
  </button>
  <button
    mat-raised-button
    style="background: green"
    (click)="changePage('input-visitor-details')"
  >
    Input Visitor Details
  </button>
  <button
    mat-raised-button
    style="background: orange"
    (click)="changePage('visitor-list')"
  >
    Visitor List
  </button>
</div>
<div>
  <h1>TASKS</h1>
  <p>
    This task requires you to create an application to be used in a hospital. A
    "Customer Queue Management" for walk-in customer. -- FRONTEND - ANGULAR --
    This angular app includes a page to input visitors' details and a page to
    show a list of visitors' details. All 3 pages are still blanks thus you need
    to design and code from ground-up.
    <br />

    Some Example For Visitor Details :
    <br />
    Print Queue (You can Make A Pop Up / HTML Print Using Simple Database)
    <br />
    <img
      src="./assets/img/barcodelist.PNG"
      alt="logo"
      style="width: 500px; height: 500px"
    />
    <br />
    Input Visitor
    <br />
    <img
      src="./assets/img/inputdata.PNG"
      alt="logo"
      style="width: 700px; height: 500px"
    />
    <br />
    Visitor List
    <br />
    <img
      src="./assets/img/visitorlist.PNG"
      alt="logo"
      style="width: 700px; height: 500px"
    />
    <br />
    -- API --
    <br />
    You Can Install API using Node Express and create localdatabase for
    gathering the data.
    <br />
    -- Database --
    <br />
    You Must Create Database Using MongoDb
    <br />
    Happy Creating!
  </p>
</div>
